body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.box-card {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  width: 341px;
  height: 74px;
  border: 0.9px solid #c8c8c8;
}

.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  position: relative;
}

.most-popular {
  width: 119px;
  height: 26px;
  font-size: 12px;
  position: absolute;
  top: -7px;
  left: 212px;
  background-color: #ff6b82;
  color: #ffff;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.horizontal-line {
  width: 94px;
}
.heading {
  width: 343px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  font-weight: 600px;
  color: #ff6b82;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
  padding-top: 20px;
  padding-bottom: 10px;
}

.standard-price {
  font-size: 12px;
  color: #000000;
  font-family: sans-serif;
  font-weight: normal;
}

.standard-price-linethrough {
  text-decoration: line-through;
}

.input-container {
  display: flex;
  gap: 2px;
}

.label-container {
  /* height: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  font-family: "Roboto";
  gap: 2px;
  margin-left: 4px;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 600;
  color: black;
}

.percentage-label {
  height: 17px;
  width: 55px;
  border-radius: 1px;
  font-size: 12px;
  color: #ffff;
  font-weight: 400;
  padding: 3px;
  background-color: #ff6b82;
  margin-left: 2px;
}

.expand-card {
  height: 174px;
  background-color: #f5dde0;
  opacity: 7;
  border: 2px solid #ff6b82;
  border-radius: 4px;
}

.hide {
  display: none;
}

.block {
  display: block;
}

.total-container {
  display: flex;
  padding: 2px;
  justify-content: space-between;
}

.delivery-des {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #ff6b82;
}

.btn-element {
  width: 100%;
  height: 40px;
  text-align: center;
  color: #ffff;
  background-color: #ff6b82;
  padding: 10px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.upper-labels {
  font-family: "Roboto";
  display: flex;
  font-size: 9.94px;
  align-items: start;
  justify-content: space-around;
}

.left-label {
  font-size: 9px;
  width: 10px;
  height: 11px;
  font-weight: 400;
  font-family: "Roboto";
  color: #000000;
}

.row-alignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 3px 3px;
}

.secondary-div {
  width: 150px;
  margin-left: 78px;
}

.dropdown {
  width: 65px;
  height: 25.31px;
  border: 0.9px solid #d9d9d9;
  border-radius: 1.81px;
}


@media screen and (min-width: 680px) {
    .box-card{
        width: 450px;
        height: 80px;
        gap:10px
    }

    .horizontal-line{
        width: 120px;
    }

    .heading{
        width: 500px;
        font-size: 24px;
    }

    .expand-card{
        height: 200px;
    }

    .most-popular{
        left: 302px;
    }
    
}